<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
     <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 align="center">Login</h1>
        <form align="center" action="/login" method ="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <p> Don't have an account? <a href="signup">Signup</a></p>

            <button type="submit" class ="submit-btn">Login</button>
        </form>
    </main>
    <footer>
        <p>&copy; Scintilla 2024</p>
    </footer>

</body>
</html>
